# MQTT Broker configuration
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_DISCOVERY_PREFIX=homeassistant
MQTT_BASE_TOPIC=rem_status

# REM configuration
DIRECTION=Entre Brossard et Bois-Franc
LANGUAGE=fr
POLL_INTERVAL_PEAK=600
POLL_INTERVAL_OFF_PEAK=1800

# Peak hours (HH:MM format)
PEAK_MORNING_START=06:30
PEAK_MORNING_END=09:30
PEAK_AFTERNOON_START=15:30
PEAK_AFTERNOON_END=18:30
